<html>
    <body>
        <h1>Hola esta es mi prrimera plantilla con Django</h1>
    </body>
    <p>El nombre del profesor es: {{nombre_persona}} {{apellido_persona}}</p>
    <p>Estamos viendo los templates en esta fecha: {{momento_actual.day}} / {{momento_actual.month}}/ {{momento_actual.year}}</p>
    <p><strong>Temas del curso</strong> </p>
    <p>
        <ul>
            {% if temas%}
                {% for el_tema in temas%}
                    <li>{{el_tema}}</li>
                {% endfor %}
            {% else %}
                <p>No hay elementos que mostrar</p>
            
            {% endif%}
        </ul>
    </p>
    
</html>