<html>
    <style>
        #barra{
            margin: 0;
            padding: 0;
            list-style: none;
            text-transform: uppercase; 
            text-shadow: 1; 
            background-color:darkolivegreen; 
            color: aliceblue;         
        }

        #barra li{
            display: inline;
            margin: 0 20px;
        }
    </style>
    <body>
        <h3>
        <ul id = "barra">
            <li>Home</li>
            <li>Servicios</li>
            <li>quiénes somos</li>
            <li>contacto</li>
            <li>Acerca de</li>
        </ul>
        </h3>
    </body>
</html>